<!DOCTYPE html>
<html>
<head>
    <title>Holistic Herbal Encyclopedia</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
<h2>Holistic Herbal Encyclopedia</h2>
<h>Create a New Entry</h3>
<form action="{{ .Create }}" method="post">
    <p class="heading">Name <br>
        <textarea rows=1 cols=30 name=name></textarea></p>
    <p class="heading">Dosage (in milligrams) <br>
        <textarea rows=1 cols=30 name=dosage></textarea></p>

    <p class="heading">Uses (separate each use with ;) <br>
        <textarea rows=5 cols=30 name=uses></textarea></p>
    <p class="heading">Precautions (separate each precaution with ;) <br>
        <textarea rows=5 cols=30 name=precautions></textarea></p>
    <p class="heading">Preparations (separate each preparation with ;) <br>
        <textarea rows=5 cols=30 name=preparations></textarea></p>    

    <p><input type="submit" value="Submit"></p>
 </form>
</body>
</html>