<!DOCTYPE html>
<html>
<head>
    <title>Holistic Herbal Encyclopedia</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
<h2>Holistic Herbal Encyclopedia</h2>

<a href="{{ .Search }}">Click here to search the Encyclopedia</a><br>
<a href="{{ .Create }}">Click Here to create a New Entry</a>

<h2>Entries</h2>

{{ range .Entries }}
<form action="edit?id={{ .Id }}" method="get"> 
    <p class="entry">
        [ {{ .Id }} ]
        Name: {{ .Name }}<br>
        Dosage: {{ .Dosage }} milligrams<br>
        Uses: {{ .Uses }} <br>
        Precautions: {{ .Precautions }}<br>
        Preparations: {{ .Preparations }}<br>
        <input type="hidden" value="{{ .Id }}" name="id"></input>
        <input type="submit" value="Edit"></input>
    </p>
 </form>
 {{ end }}
 </body>
</html>