
<!DOCTYPE html>
<html>
<head>
    <title>Holistic Herbal Encyclopedia</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>

<h2>Holistic Herbal Encyclopedia</h2>    

<form action="{{ .NameSearch }}" method="get">
    <p class="heading">Name <br>
        <textarea rows=1 cols=30 name=name></textarea></p>
    <p><input type="submit" value="Search By Name"></p>
 </form>

 <form action="{{ .UseSearch }}" method="get">
    <p class="heading">Use <br>
        <textarea rows=1 cols=30 name=use></textarea></p>
    <p><input type="submit" value="Search By Use"></p>
 </form>

</body>
</html>
